<header class="page-header" style="background: url(http://quardo.themezinho.net/wp-content/uploads/2021/02/page-header01.jpg) center #141414;">
  <div class="container">
    <h1>Meetings &#038; Events</h1>
        <p>We love staying in hotels</p>
      </div>
</header>
<!-- end navbar -->

<section class="content-section" ><div class="container"><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="row">
    <div class="col-lg-4 col-md-6">
    <div class="meeting-event-box">
      <figure class="reveal-effect"> <img src="http://quardo.themezinho.net/wp-content/uploads/2021/02/carousel-event08.jpg" alt="Image"> </figure>
      <div class="content">
        <h5><a href="http://quardo.themezinho.net/event/travel-agencies-meetup-summit/"> Travel Agencies Meetup &#038; Summit </a></h5>
        <span>
        07-09 Oct 2020        </span> <small>
        Quardo Hotel, London        </small> </div>
    </div>
  </div>
    <div class="col-lg-4 col-md-6">
    <div class="meeting-event-box">
      <figure class="reveal-effect"> <img src="http://quardo.themezinho.net/wp-content/uploads/2021/02/carousel-event07.jpg" alt="Image"> </figure>
      <div class="content">
        <h5><a href="http://quardo.themezinho.net/event/the-international-marketting-summit/"> The International Marketting Summit </a></h5>
        <span>
        07-09 Nov 2021        </span> <small>
        Quardo Hotel, Rio de Janeiro        </small> </div>
    </div>
  </div>
    <div class="col-lg-4 col-md-6">
    <div class="meeting-event-box">
      <figure class="reveal-effect"> <img src="http://quardo.themezinho.net/wp-content/uploads/2021/02/carousel-event06.jpg" alt="Image"> </figure>
      <div class="content">
        <h5><a href="http://quardo.themezinho.net/event/the-caterer-marketing-pr-summit/"> The Caterer Marketing &#038; PR Summit </a></h5>
        <span>
        11-15 Oct 2021        </span> <small>
        Quardo Hotel, New York        </small> </div>
    </div>
  </div>
    <div class="col-lg-4 col-md-6">
    <div class="meeting-event-box">
      <figure class="reveal-effect"> <img src="http://quardo.themezinho.net/wp-content/uploads/2021/02/carousel-event05.jpg" alt="Image"> </figure>
      <div class="content">
        <h5><a href="http://quardo.themezinho.net/event/envato-llc-marketing-pr-summit/"> Envato LLC Marketing &#038; PR Summit </a></h5>
        <span>
        12-19 Apr 2021        </span> <small>
        Quardo Hotel, Oslo        </small> </div>
    </div>
  </div>
    <div class="col-lg-4 col-md-6">
    <div class="meeting-event-box">
      <figure class="reveal-effect"> <img src="http://quardo.themezinho.net/wp-content/uploads/2021/02/carousel-event04.jpg" alt="Image"> </figure>
      <div class="content">
        <h5><a href="http://quardo.themezinho.net/event/3rd-natro-hosting-summit/"> 3rd Natro Hosting &#038; Summit </a></h5>
        <span>
        21-22 May 2021        </span> <small>
        Quardo Hotel, Berlin        </small> </div>
    </div>
  </div>
    <div class="col-lg-4 col-md-6">
    <div class="meeting-event-box">
      <figure class="reveal-effect"> <img src="http://quardo.themezinho.net/wp-content/uploads/2021/02/carousel-event03.jpg" alt="Image"> </figure>
      <div class="content">
        <h5><a href="http://quardo.themezinho.net/event/big-bitcoin-technology-summit/"> Big Bitcoin Technology &#038; Summit </a></h5>
        <span>
        07-11 Feb 2021        </span> <small>
        Quardo Hotel, London        </small> </div>
    </div>
  </div>
    <div class="col-12">
    <span aria-current="page" class="page-numbers current">1</span>
<a class="page-numbers" href="http://quardo.themezinho.net/meetings-events/page/2/">2</a>
<a class="next page-numbers" href="http://quardo.themezinho.net/meetings-events/page/2/">Next &raquo;</a>  </div>
</div>
</div></div></div></div></div></section>
<section class="content-section no-spacing" data-background="#856d47" >
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-bar"><i class="lni lni-protection"></i>
          <h6>Call a New travel specialist on</h6>
          <strong>+61 3 8648 8871</strong>
                    <figure><img src="http://quardo.themezinho.net/wp-content/uploads/2021/02/logo-placeforstay.png" alt="Call a New travel specialist on"></figure>
                  </div>
        <!-- end footer-bar --> 
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end content-section -->