@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<header class="page-header" style="background: url('../../../images/page-header01.jpg') center #141414;">
    <div class="container">
        <h1>Rooms</h1>
        <p>We love staying in hotels</p>
    </div>
</header>
<!-- end navbar -->

<section class="content-section">
    <div class="container">
        <div class="vc_row wpb_row vc_row-fluid">
            <div class="wpb_column vc_column_container vc_col-sm-12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        <ul class="rooms-list">
                            <li>
                                <div class="room-box">
                                    <figure class="reveal-effect wow">

                                        <div class="media">
                                            <a href="http://quardo.themezinho.net/rooms/deluxe-room/"><img src="/images/room-gallery08-1200x900.jpg" width="1200" height="900" alt="" /></a>
                                        </div>
                                    </figure>
                                    <div class="content">
                                        <div class="price-line">


                                            <div class="price">
                                                <span class="title-price">Price from</span>

                                                <span class="price_value price_min">&#36;90.9</span>

                                                <span class="unit">Night</span>
                                            </div>
                                        </div>

                                        <div class="title">
                                            <h4>
                                                <a href="http://quardo.themezinho.net/rooms/deluxe-room/">Deluxe Room</a>
                                            </h4>
                                        </div>
                                        <p>Always dreamed of staying in a castle hotel? The UK has some historic gems, ranging from Norman conquest pads</p>
                                        <div class="bottom-specs">
                                            <div class="icons">

                                                <img src="/images/icons/icon05-150x150.png" alt="" />


                                                <img src="/images/icons/icon04-150x150.png" alt="" />


                                                <img src="/images/icons/icon02-150x150.png" alt="" />


                                                <img src="/images/icons/icon03-150x150.png" alt="" />


                                                <img src="/images/icons/icon01-150x150.png" alt="" />

                                            </div>

                                            @*    <div class="reviews">
                                                <b>Room Rating</b>

                                                <div class="rating">
                                                <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating" class="star-rating"
                                                title="Rated 5 out of 5">
                                                <span style="width:100%"></span>
                                                </div>
                                                </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="room-box">
                                    <figure class="reveal-effect wow">

                                        <div class="media">
                                            <a href="http://quardo.themezinho.net/rooms/double-room/"><img src='/images/room-gallery07-1200x900.jpg' width="1200" height="900" alt="" /></a>
                                        </div>
                                    </figure>
                                    <div class="content">
                                        <div class="price-line">


                                            <div class="price">
                                                <span class="title-price">Price from</span>

                                                <span class="price_value price_min">&#36;26.0</span>

                                                <span class="unit">Night</span>
                                            </div>
                                        </div>

                                        <div class="title">
                                            <h4>
                                                <a href="http://quardo.themezinho.net/rooms/double-room/">Double Room</a>
                                            </h4>
                                        </div>
                                        <p>Always dreamed of staying in a castle hotel? The UK has some historic gems, ranging from Norman conquest pads</p>
                                        <div class="bottom-specs">
                                            <div class="icons">

                                                <img src="/images/icons/icon02-150x150.png" alt="" />


                                                <img src="/images/icons/icon07-150x150.png" alt="" />


                                                <img src="/images/icons/icon06-150x150.png" alt="" />


                                                <img src="/images/icons/icon05-150x150.png" alt="" />


                                                <img src="/images/icons/icon04-150x150.png" alt="" />

                                            </div>
                                            @*
                                                <div class="reviews">
                                                <b>Room Rating</b>

                                                <div class="rating">
                                                <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating" class="star-rating"
                                                title="Rated 4 out of 5">
                                                <span style="width:80%"></span>
                                                </div>
                                                </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="room-box">
                                    <figure class="reveal-effect wow">

                                        <div class="media">
                                            <a href="http://quardo.themezinho.net/rooms/family-room/"><img src="/images/room-gallery06-1200x900.jpg" width="1200" height="900" alt="" /></a>
                                        </div>
                                    </figure>
                                    <div class="content">
                                        <div class="price-line">


                                            <div class="price">
                                                <span class="title-price">Price from</span>

                                                <span class="price_value price_min">&#36;38.9</span>

                                                <span class="unit">Night</span>
                                            </div>
                                        </div>

                                        <div class="title">
                                            <h4>
                                                <a href="http://quardo.themezinho.net/rooms/family-room/">Family Room</a>
                                            </h4>
                                        </div>
                                        <p>Always dreamed of staying in a castle hotel? The UK has some historic gems, ranging from Norman conquest pads</p>
                                        <div class="bottom-specs">
                                            <div class="icons">

                                                <img src="/images/icons/icon07-150x150.png" alt="" />


                                                <img src="/images/icons/icon06-150x150.png" alt="" />


                                                <img src="/images/icons/icon05-150x150.png" alt="" />


                                                <img src="/images/icons/icon04-150x150.png" alt="" />


                                                <img src="/images/icons/icon02-150x150.png" alt="" />

                                            </div>

                                            @*  <div class="reviews">
                                                <b>Room Rating</b>

                                                <div class="rating">
                                                <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating" class="star-rating"
                                                title="Rated 5 out of 5">
                                                <span style="width:100%"></span>
                                                </div>
                                                </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="room-box">
                                    <figure class="reveal-effect wow">

                                        <div class="media">
                                            <a href="http://quardo.themezinho.net/rooms/honeymoon-room/"><img src="/images/room-gallery04-1200x900.jpg" width="1200" height="900" alt="" /></a>
                                        </div>
                                    </figure>
                                    <div class="content">
                                        <div class="price-line">


                                            <div class="price">
                                                <span class="title-price">Price from</span>

                                                <span class="price_value price_min">&#36;51.9</span>

                                                <span class="unit">Night</span>
                                            </div>
                                        </div>

                                        <div class="title">
                                            <h4>
                                                <a href="http://quardo.themezinho.net/rooms/honeymoon-room/">Honeymoon Room</a>
                                            </h4>
                                        </div>
                                        <p>Always dreamed of staying in a castle hotel? The UK has some historic gems, ranging from Norman conquest pads</p>
                                        <div class="bottom-specs">
                                            <div class="icons">

                                                <img src="/images/icons/icon07-150x150.png" alt="" />


                                                <img src="/images/icons/icon06-150x150.png" alt="" />


                                                <img src="/images/icons/icon05-150x150.png" alt="" />


                                                <img src="/images/icons/icon04-150x150.png" alt="" />


                                                <img src="/images/icons/icon02-150x150.png" alt="" />

                                            </div>

                                            @* <div class="reviews">
                                                <b>Room Rating</b>

                                                <div class="rating">
                                                <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating" class="star-rating"
                                                title="Rated 3 out of 5">
                                                <span style="width:60%"></span>
                                                </div>
                                                </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="room-box">
                                    <figure class="reveal-effect wow">

                                        <div class="media">
                                            <a href="http://quardo.themezinho.net/rooms/single-suite/"><img src="/images/room-gallery04-1200x900.jpg" width="1200" height="900" alt="" /></a>
                                        </div>
                                    </figure>
                                    <div class="content">
                                        <div class="price-line">


                                            <div class="price">
                                                <span class="title-price">Price from</span>

                                                <span class="price_value price_min">&#36;64.9</span>

                                                <span class="unit">Night</span>
                                            </div>
                                        </div>

                                        <div class="title">
                                            <h4>
                                                <a href="http://quardo.themezinho.net/rooms/single-suite/">Single Suite</a>
                                            </h4>
                                        </div>
                                        <p>Always dreamed of staying in a castle hotel? The UK has some historic gems, ranging from Norman conquest pads</p>
                                        <div class="bottom-specs">
                                            <div class="icons">

                                                <img src="/images/icons/icon07-150x150.png" alt="" />


                                                <img src="/images/icons/icon06-150x150.png" alt="" />


                                                <img src="/images/icons/icon05-150x150.png" alt="" />


                                                <img src="/images/icons/icon04-150x150.png" alt="" />


                                                <img src="/images/icons/icon02-150x150.png" alt="" />

                                            </div>

                                            @* <div class="reviews">
                                                <b>Room Rating</b>

                                                <div class="rating">
                                                <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating" class="star-rating"
                                                title="Rated 5 out of 5">
                                                <span style="width:100%"></span>
                                                </div>
                                                </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="room-box">
                                    <figure class="reveal-effect wow">

                                        <div class="media">
                                            <a href="http://quardo.themezinho.net/rooms/deluxe-suite/"><img src="/images/room-gallery03-1200x900.jpg" width="1200" height="900" alt="" /></a>
                                        </div>
                                    </figure>
                                    <div class="content">
                                        <div class="price-line">


                                            <div class="price">
                                                <span class="title-price">Price from</span>

                                                <span class="price_value price_min">&#36;116.8</span>

                                                <span class="unit">Night</span>
                                            </div>
                                        </div>

                                        <div class="title">
                                            <h4>
                                                <a href="http://quardo.themezinho.net/rooms/deluxe-suite/">Deluxe Suite</a>
                                            </h4>
                                        </div>
                                        <p>Always dreamed of staying in a castle hotel? The UK has some historic gems, ranging from Norman conquest pads</p>
                                        <div class="bottom-specs">
                                            <div class="icons">

                                                <img src="/images/icons/icon05-150x150.png" alt="" />


                                                <img src="/images/icons/icon04-150x150.png" alt="" />


                                                <img src="/images/icons/icon02-150x150.png" alt="" />


                                                <img src="/images/icons/icon03-150x150.png" alt="" />


                                                <img src="/images/icons/icon01-150x150.png" alt="" />

                                            </div>

                                            @*<div class="reviews">
                                                <b>Room Rating</b>

                                                <div class="rating">
                                                <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating" class="star-rating"
                                                title="Rated 5 out of 5">
                                                <span style="width:100%"></span>
                                                </div>
                                                </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="room-box">
                                    <figure class="reveal-effect wow">

                                        <div class="media">
                                            <a href="http://quardo.themezinho.net/rooms/penthouse/"><img src="/images/room-gallery02-1200x900.jpg" width="1200" height="900" alt="" /></a>
                                        </div>
                                    </figure>
                                    <div class="content">
                                        <div class="price-line">


                                            <div class="price">
                                                <span class="title-price">Price from</span>

                                                <span class="price_value price_min">&#36;77.9</span>

                                                <span class="unit">Night</span>
                                            </div>
                                        </div>

                                        <div class="title">
                                            <h4>
                                                <a href="http://quardo.themezinho.net/rooms/penthouse/">Penthouse</a>
                                            </h4>
                                        </div>
                                        <p>Always dreamed of staying in a castle hotel? The UK has some historic gems, ranging from Norman conquest pads</p>
                                        <div class="bottom-specs">
                                            <div class="icons">

                                                <img src="/images/icons/icon01-150x150.png" alt="" />


                                                <img src="/images/icons/icon03-150x150.png" alt="" />


                                                <img src="/images/icons/icon02-150x150.png" alt="" />


                                                <img src="/images/icons/icon04-150x150.png" alt="" />


                                                <img src="/images/icons/icon05-150x150.png" alt="" />

                                            </div>

                                            @*<div class="reviews">
                                                <b>Room Rating</b>

                                                <div class="rating">
                                                <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating" class="star-rating"
                                                title="Rated 5 out of 5">
                                                <span style="width:100%"></span>
                                                </div>
                                                </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="room-box">
                                    <figure class="reveal-effect wow">

                                        <div class="media">
                                            <a href="http://quardo.themezinho.net/rooms/premium-penthouse/"><img src="/images/room-gallery01-1200x900.jpg" width="1200" height="900" alt="" /></a>
                                        </div>
                                    </figure>
                                    <div class="content">
                                        <div class="price-line">


                                            <div class="price">
                                                <span class="title-price">Price from</span>

                                                <span class="price_value price_min">&#36;413.0</span>

                                                <span class="unit">Night</span>
                                            </div>
                                        </div>

                                        <div class="title">
                                            <h4>
                                                <a href="http://quardo.themezinho.net/rooms/premium-penthouse/">Premium Penthouse</a>
                                            </h4>
                                        </div>
                                        <p>Always dreamed of staying in a castle hotel? The UK has some historic gems, ranging from Norman conquest pads</p>
                                        <div class="bottom-specs">
                                            <div class="icons">

                                                <img src="/images/icons//icon03-150x150.png" alt="" />


                                                <img src="/images/icons/icon02-150x150.png" alt="" />


                                                <img src="/images/icons/icon04-150x150.png" alt="" />


                                                <img src="/images/icons/icon05-150x150.png" alt="" />


                                                <img src="/images/icons/icon06-150x150.png" alt="" />

                                            </div>

                                            @*<div class="reviews">
                                                <b>Room Rating</b>

                                                <div class="rating">
                                                <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating" class="star-rating"
                                                title="Rated 4 out of 5">
                                                <span style="width:80%"></span>
                                                </div>
                                                </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content-section no-spacing" data-background="#856d47">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-bar">
                    <i class="lni lni-protection"></i>
                    <h6>Call a New travel specialist on</h6>
                    <strong>+61 3 8648 8871</strong>
                    <figure>
                        @*<img src="/images/logo-placeforstay.png" alt="Call a New travel specialist on">*@
                        </figure>
                </div>
                <!-- end footer-bar -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end content-section -->