@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<header class="page-header" style="background: url(/images/page-header01.jpg) center #141414;">
  <div class="container">
    <h1>Special Offers</h1>
        <p>We love staying in hotels</p>
      </div>
</header>
<!-- end navbar -->

<section class="content-section" ><div class="container"><div class="vc_row wpb_row vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="row">
    <div class="col-lg-4 col-md-6">
    <div class="special-offer-box">
      <figure class="reveal-effect"> <img src="http://quardo.themezinho.net/wp-content/uploads/2021/02/special-offer06.jpg" alt="Image"> </figure>
      <div class="content"> <span>
        20 - 27 OCTOBER        </span>
        <h5><a href="http://quardo.themezinho.net/offer/special-spa-experience/"> Special SPA Experience </a></h5>
        <small>
        % 20 DISCOUNT        </small>
        <p><strong>Promo code :
          SPA-NOVEMBER          </strong></p>
      </div>
    </div>
  </div>
    <div class="col-lg-4 col-md-6">
    <div class="special-offer-box">
      <figure class="reveal-effect"> <img src="http://quardo.themezinho.net/wp-content/uploads/2021/02/special-offer05.jpg" alt="Image"> </figure>
      <div class="content"> <span>
        20 - 27 OCTOBER        </span>
        <h5><a href="http://quardo.themezinho.net/offer/riding-horses/"> Riding Horses </a></h5>
        <small>
        % 25 DISCOUNT        </small>
        <p><strong>Promo code :
          HORSE-TWENTYFIVE          </strong></p>
      </div>
    </div>
  </div>
    <div class="col-lg-4 col-md-6">
    <div class="special-offer-box">
      <figure class="reveal-effect"> <img src="http://quardo.themezinho.net/wp-content/uploads/2021/02/special-offer03.jpg" alt="Image"> </figure>
      <div class="content"> <span>
        20 - 27 JUNE        </span>
        <h5><a href="http://quardo.themezinho.net/offer/fly-with-friends/"> Fly with friends </a></h5>
        <small>
        % 15 DISCOUNT        </small>
        <p><strong>Promo code :
          FLY-JUNE15          </strong></p>
      </div>
    </div>
  </div>
    <div class="col-lg-4 col-md-6">
    <div class="special-offer-box">
      <figure class="reveal-effect"> <img src="http://quardo.themezinho.net/wp-content/uploads/2021/02/special-offer04.jpg" alt="Image"> </figure>
      <div class="content"> <span>
        11 - 22 APRIL        </span>
        <h5><a href="http://quardo.themezinho.net/offer/go-cart-weekend/"> Go-Cart Weekend </a></h5>
        <small>
        % 30 DISCOUNT        </small>
        <p><strong>Promo code :
          GO-CART30          </strong></p>
      </div>
    </div>
  </div>
    <div class="col-lg-4 col-md-6">
    <div class="special-offer-box">
      <figure class="reveal-effect"> <img src="http://quardo.themezinho.net/wp-content/uploads/2021/02/special-offer02.jpg" alt="Image"> </figure>
      <div class="content"> <span>
        20 - 27 AUGOST        </span>
        <h5><a href="http://quardo.themezinho.net/offer/discover-forrest/"> Discover Forrest </a></h5>
        <small>
        % 40 DISCOUNT        </small>
        <p><strong>Promo code :
          FOREST-GUMP          </strong></p>
      </div>
    </div>
  </div>
    <div class="col-lg-4 col-md-6">
    <div class="special-offer-box">
      <figure class="reveal-effect"> <img src="http://quardo.themezinho.net/wp-content/uploads/2021/02/special-offer01.jpg" alt="Image"> </figure>
      <div class="content"> <span>
        11 - 22 NOVEMBER        </span>
        <h5><a href="http://quardo.themezinho.net/offer/valentines-days/"> Valentines Days </a></h5>
        <small>
        % 50 DISCOUNT        </small>
        <p><strong>Promo code :
          LOVE50          </strong></p>
      </div>
    </div>
  </div>
    <div class="col-12">
      </div>
</div>
</div></div></div></div></div></section>
<section class="content-section no-spacing" data-background="#856d47" >
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-bar"><i class="lni lni-protection"></i>
          <h6>Call a New travel specialist on</h6>
          <strong>+61 3 8648 8871</strong>
                    <figure><img src="http://quardo.themezinho.net/wp-content/uploads/2021/02/logo-placeforstay.png" alt="Call a New travel specialist on"></figure>
                  </div>
        <!-- end footer-bar --> 
      </div>
      <!-- end col-12 --> 
    </div>
    <!-- end row --> 
  </div>
  <!-- end container --> 
</section>
<!-- end content-section -->