<header class="slider">
    <div class="main-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-inner" data-background="/images/slide01.jpg">
                    <div class="container">
                        <h6 data-swiper-parallax="100">THE ULTIMATE SOPHISTICATE AND PREMIUM</h6>
                        <h1 data-swiper-parallax="200"> All Inclusive & Exclusive</h1>
                        <a href="rooms.html" data-swiper-parallax="200">SEE OUR SUITES</a>
                    </div>
                    <!-- end container -->
                </div>
                <!-- end slide-inner -->
            </div>
            <!-- end swiper-slide -->
            <div class="swiper-slide">
                <div class="slide-inner" data-background="/images/slide02.jpg">
                    <div class="container">
                        <h6 data-swiper-parallax="100">ONE PROGRAMME, SAVINGS EVERYDAY, NEW EXPERIENCES</h6>
                        <h1 data-swiper-parallax="200"> Your Loyalty Rewarded</h1>
                        <a href="room-detail.html" data-swiper-parallax="200">CHECK ROOMS</a>
                    </div>
                    <!-- end container -->
                </div>
                <!-- end slide-inner -->
            </div>
            <!-- end swiper-slide -->
            <div class="swiper-slide">
                <div class="slide-inner" data-background="/images/slide03.jpg">
                    <div class="container">
                        <h6 data-swiper-parallax="100">HOSPITALITY ARE THE ORIGINS TRADITIONS MOTTO</h6>
                        <h1 data-swiper-parallax="200">Generous & Authentic Approach </h1>
                        <a href="quardo.html" data-swiper-parallax="200">DISCOVER MAISOPN</a>
                    </div>
                    <!-- end container -->
                </div>
                <!-- end slide-inner -->
            </div>
            <!-- end swiper-slide -->
        </div>
        <!-- end swiper-wrapper -->
        <div class="slider-prev"></div>
        <!-- end slider-prev -->
        <div class="slider-next"></div>
        <!-- end slider-next -->
        <div class="slider-fraction"></div>
        <!-- end slider-fraction -->
    </div>
    <!-- end main-slider -->
    <div class="scroll-down"></div>
    <!-- end scroll-down -->
</header>